$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$black: #1d1b1b;
$gray: #9b9b9b;

.create-goBack {
    text-decoration: none;
    font-size: 0.8rem;
    color: #a9a9a9;
    font-weight: 500;
    margin-bottom: 2rem;
    display: block;
    transition: .3s;
}

.create-goBack:hover{
    color: #3a3939;
    transform: translateX(-5px);
}

.create-warp {
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
    padding: 1rem 0;
}

.form__inline {
    display: flex;
    justify-content: space-between;        
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1rem;
    color: $black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1rem;
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
  }
  /* reset input */
  .form__field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }

  .form__area {
    width: 100%;
    height: 200px;
    margin-top: 20px;
  }

  #author{
    width: 700px;
  }

  .form__file__field {  
    background-image: linear-gradient(90deg, $primary, $secondary,  $primary);
    color: $white;
    padding: 10px;
    border-radius: 15px;
    width: 200px;
    margin: 15px;
    display: flex;
    box-shadow: 0 0.5em 1em rgba(0,0,0,.2);
    background-size: 300%;
    justify-content: center;   
    transition: background-position 0.5s ease-out, transform 0.2s ease-out; 
  }

  .form__file__field:hover{
    transform: scale(1.05) translateY(-5px);
    background-position: right;
  }

  .form__file {
    display: none;
    
  }

  .form__file__icon {
    text-align: center;
    color: $white;
    width: 200px;
    cursor: pointer;
  }

  .Button-post {
    display: flex;
    justify-content: end;
  }

  .create-button {
    position: fixed;
    bottom: 70px;
    right: 20px;
    color: $white;
    background-color: $black;
    padding: 15px;
    width: 100px;
    cursor: pointer;
    border-radius: 15px;
    transition: all .3s ease-out;    
  }

  .create-button:hover{
    transform: translateY(-5px);
  }
  
  @media (max-width: 1040px) {
    #author {
      width: 500px;
    }
  }

  @media (max-width: 840px) {
    #author {
      width: 300px;
    }
  }

  @media (max-width: 580px) {
    #author {
      width: 137px;
    }    
  }
  