.bar-wrap {
    width: 100%;  
    display: flex;
    justify-content: space-between;
    margin: 1.5rem auto 2rem auto;
    align-items: center;
    gap: 1rem;
}

.searchBar-wrap{
    order: 1;
    background-color: #f0f0f0;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5px;    
}

.searchBar-wrap form{
    display: flex;
    align-items: center;   
}

.searchBar-wrap input{
    background-color: #f0f0f0;
    outline: none;
    border: none;
    transition: transform 1s;
}

@media (max-width: 400px) {
    .searchBar-wrap input{
        width: 100px;
    }
}

.spanBar-wrap span{
    padding-right: .5rem;
    cursor: pointer;    
    display: flex;
    justify-content: center;
}

.bar-button {
    outline: none;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    background-color: #0f52ba;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.bar-button:hover{
    transform: scale(1.1);
    background-color: #333;    
}

.secondary {
    background-color: rgb(128, 25, 128);
}

.searchBar-cancel{   
    padding-right: 5px;
    padding-top: 5px;
    cursor: pointer;
    width: 22px;
    height: 22px;
    background-position: right center;   
    color: #3a3a3a;
}

.createButton-wrap {
    order: 2;
    width: fit-content;   
}
